<ng-template #loadingContent>
  <ds-loading></ds-loading>
</ng-template>

<div class="container-bib mt-3">
  <div class="card-group vgr-cards">
    <ng-container *ngIf="communitiesRD$ | async as communitiesRD">
      <ng-container *ngIf="communitiesRD?.hasSucceeded">
        <ng-container *ngIf="allSouscommunities.length > 0; else loadingContent">
          <ng-container *ngFor="let souscommunitie of allSouscommunities">
            <div class="card">
              <div class="card-img-body">
                <img class="card-img" [src]="souscommunitie.logoUrl || 'assets/collspec/images/imageDefaultcollspec.jpg'" alt="Logo {{ souscommunitie.title }}">
              </div>
              <div class="card-body">
                <h4 class="card-title mt-5 text-start">{{ souscommunitie.title }}</h4>
                <div class="card-text ml-2" [innerHTML]="souscommunitie.description"></div>
                <!-- Cas Claude Gingras -->
                <a *ngIf="isClaudeGingras(souscommunitie)"
                  href="https://claude-gingras.bib.umontreal.ca/"
                  class="btn btn-darkblue btn-collection ml-2 mt-3"
                  [attr.aria-label]="('collspec.collection.decouvrir' | translate) + ' ' + souscommunitie.title">
                  <span class="btn-collection-label" aria-hidden="true">{{ 'collspec.collection.decouvrir' | translate }}</span>
                  <span class="btn-collection-title" aria-hidden="true">{{ souscommunitie.title }}</span>
                </a>

                <!-- Autres collections -->
                <a *ngIf="!isClaudeGingras(souscommunitie)"
                  [routerLink]="['/communities/', souscommunitie.id]"
                  class="btn btn-darkblue btn-collection ml-2 mt-3"
                  [attr.aria-label]="('collspec.collection.decouvrir' | translate) + ' ' + souscommunitie.title">
                  <span class="btn-collection-label" aria-hidden="true">{{ 'collspec.collection.decouvrir' | translate }}</span>
                  <span class="btn-collection-title" aria-hidden="true">{{ souscommunitie.title }}</span>
                </a>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <ds-error *ngIf="communitiesRD?.hasFailed" message="{{ 'error.top-level-communities' | translate }}"></ds-error>
    </ng-container>
  </div>
</div>