<div class="container diame-landing py-5">
  <div class="row justify-content-center">
    <div class="col-lg-10 text-center">
      <h1 class="mb-4">{{ 'info.diame.title' | translate }}</h1>

      <p class="lead mb-4">
        {{ 'info.diame.lead' | translate }}
      </p>

      <p class="mb-5">
        {{ 'info.diame.description' | translate }}
      </p>

      <a class="btn btn-primary btn-lg"
         href="/handle/123456789/2">
        {{ 'info.diame.button' | translate }}
      </a>
    </div>
  </div>
</div>