<section id="galerie">
  <div class="container">
    <button class="btn btn-secondary btn-sm mt-3" (click)="retour()">
      <i class="fas fa-arrow-left ng-tns-c242-3"></i> {{ 'collspec.retour' | translate }}
    </button>
    <div class="row">
        <div class="ai-titre">
          <h1>{{ 'collspec.ai-search-title' | translate }}</h1>
          <p>{{ 'collspec.ai-search-description' | translate }}</p>
        </div>
      <!-- Formulaire de recherche -->
      <div class="col-md-12 mb-3">
        <form #form="ngForm" (ngSubmit)="updateSearch(form.value)">
            <div class="form-group input-group">
              <div  class="input-group-prepend">
                <!--<button class="scope-button btn btn-outline-secondary text-truncate"
                        [ngbTooltip]="dsoNameService.getName(selectedScope | async)" type="button"
                        (click)="openScopeModal()">
                  {{dsoNameService.getName(selectedScope | async) || ('search.form.scope.all' | translate)}}
                </button>-->
              </div>
              <!--<input type="text" [(ngModel)]="searchQuery" name="query" class="form-control" [attr.data-test]="'search-box' | dsBrowserOnly">-->
        <span class="input-group-append">
            <!--<button type="submit" class="search-button btn btn-primary" [attr.data-test]="'search-button' | dsBrowserOnly">
              <i class="fas fa-search"></i> {{ ('search.form.search' | translate) }}
            </button>-->
          </span>
            </div>
          <div class="filters-list" *ngIf="searchQuery">
            <ul id="firstRowFilter">
              <li  style="display: flex;">
                <a>{{searchQuery}}</a>
                <button class="toggle-filters-btn" (click)="clearSearchQuery();updateSearch(form.value)" ><i class="fa fa-times fm-2"></i></button>
              </li>
            </ul>
          </div>
        </form>
      </div>
      <ng-container *ngIf="images$ | async as images; else loading">
        <ng-container *ngFor="let ai of listeAi.slice(0, defaultItemCount); let i = index;">
          <!-- Ajoutez une condition *ngIf pour vérifier la présence de collection?.vedette -->
          <div *ngIf="ai.pathFile" [ngClass]="{'col-md-4': true}">
            <div class="card-collspec" [ngStyle]="{ 'background-image': 'url(' + ai.pathFile + ')' }">
              <div class="specifies" >
                <p *ngIf="ai.pathFile && selectedImageId(ai.id)" class="promo">{{ 'collspec.ai-img-selection' | translate }}</p>
                <span class="badge badge-info pb-1">Item</span>
                <a  [routerLink]="['/items/', ai.itemId]"><h5>{{ai.itemName}}</h5></a>
                <ul>
                  <li>{{ai.description}}</li>
                </ul>
                <a class="btn btn-outline-dark btn-sm"  [routerLink]="['/items/', ai.itemId]"> {{ 'collspec.consulter' | translate }}</a>
              </div>
            </div>
          </div>
          <!-- Fin de la condition *ngIf -->
        </ng-container>
        <button *ngIf="listeAi.length > defaultItemCount" (click)="loadMore()" class="btn btn-outline-warning btn-sm m-3">{{ 'collspec.ai-charger' | translate }}</button>
      </ng-container>

      <ng-template #loading class="mt-5 pt-5">
        <!-- Indicateur de chargement -->
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-info"></div>
      </ng-template>
    </div>
  </div>
</section>
