<div class="container contact-wrapper my-5">
   <!-- Formulaire de feedback -->
  <ds-feedback-form></ds-feedback-form>

  <!-- Lien complémentaire -->
  <div class="alert alert-info mt-5 col-md-9 " role="alert">
    <h2 class="h2-bib-titre">Nous joindre</h2>
      <p class="text-muted mb-2">
        Pour plus de détails sur nos services et les différentes façons de nous joindre,
        consultez le site des bibliothèques.
      </p>
      <a
        class="btn btn-darkblue size-16"
        href="https://bib.umontreal.ca/nous-joindre/"
        target="_blank"
        rel="noopener noreferrer">
        Voir les contacts
      </a>
  </div>
  </div>
